.p-field {
  margin-bottom: 16px;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-form {
  margin: 0 auto;
  height: 350px;

  box-shadow: 1px -19px 274px 20px rgba(143,136,136,0.46);
-webkit-box-shadow: 1px -19px 274px 20px rgba(143,136,136,0.46);
-moz-box-shadow: 1px -19px 274px 20px rgba(143,136,136,0.46);
}
