<mat-card >
    <mat-card-header>
        <mat-card-title> {{ product.name }} </mat-card-title>
        <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
        
    </mat-card-header>
    
    <img mat-card-image [src]="product.imageUrl" alt="">
    <mat-card-content class="mt-1">
        <br>
        <div class="product-info">
            <mat-chip>Price: {{ product.price | currency }}</mat-chip>
        </div>
        <div class="product-info">
            <mat-chip>Stock: {{ product.stockQuantity | number }}</mat-chip>
        </div>
        <div class="product-info">
            <mat-chip>Creado: {{ product.createdAt | date }}</mat-chip>
        </div>
        <div class="product-info">
            <mat-chip>Actualizado: {{ product.updatedAt | date }}</mat-chip>
        </div>

        <br>
        <strong>Categoría</strong>
        <mat-chip-listbox>
            <mat-chip *ngFor="let prop of getFilteredCategory(product.category)">
                {{ prop }}
            </mat-chip>
        </mat-chip-listbox>
    </mat-card-content>



    <mat-card-actions>
        <button mat-button>Editar</button>
    </mat-card-actions>
</mat-card>